body{
  margin:0;
  background:black;
  overflow:hidden;
  touch-action: pinch-zoom;
}

#solar-system{
  position:relative;
  width:100vw;
  height:100vh;
}

#sun{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:220px;
  height:220px;
  border-radius:50%;
  background: radial-gradient(circle, #fff6a0, #ffae00);
  text-align:center;
  padding-top:65px;
  font-weight:bold;
  box-shadow:0 0 100px gold;
  z-index:10;
}

.orbit{
  position:absolute;
  top:50%;
  left:50%;
}

.planet{
  position:absolute;
  color:white;
  font-size:13px;
  white-space:nowrap;
  text-shadow:0 0 6px #a88bff;
}
